# Default MariaDB
# ------------------------------------------------------------------------------
MYSQL_ROOT_PASSWORD=9uobeuguOUEIBFo4ubuodsifvuoe
MYSQL_PASSWORD=ojdskbfjobOUABSEJdfkhbjsfjokewwef
MYSQL_DATABASE=teamspeak 
MYSQL_USER=teamspeak